.notification-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 25px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    z-index: 2000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s ease-in-out forwards;
}

.notification-container.error {
    background-color: #d32f2f; /* Vermelho para erros */
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        top: 0;
    }
    15% {
        opacity: 1;
        top: 20px;
    }
    85% {
        opacity: 1;
        top: 20px;
    }
    100% {
        opacity: 0;
        top: 0;
    }
}