<div class="search-area">
            <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <button type="button"
                        class="icon-button filter-button"
                        (click)="toggleFilterOverlay()"
                        [ngClass]="{ 'filter-active': selectedTypes.length > 0 }">
                    <img src="/images/filter-icon.svg" alt="Filtros">
                </button>
            <div class="input-wrapper">
                <input class="search-input" type="text" formControlName="name" autocomplete="off"/>
                        @if (suggestions.length > 0) {
                            <div class="suggestions-list">
                                @for (pokemon of suggestions; track pokemon.id) {
                                    <div class="suggestion-item" (click)="selectSuggestion(pokemon.name)">
                                        <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">
                                        <span>{{ pokemon.name }}</span>
                                    </div>
                                 }
                            </div>
                        }
                    </div>

                <button type="submit" class="icon-button">
                    <img src="/images/icons8-search.svg" alt="Buscar">
                </button>
            </form>

    </div> @if (showCard) {
        <app-card
          [name]="pokemonName"
          [sprite]="sprite"
          [animatedSprite]="animatedSprite"
          [id]="id"
          [ptypes]="ptypes">
        </app-card>
    }

    @if (showFilterOverlay) {
        <div class="filter-overlay">
            <div class="filter-content">
                <h2>Filtrar por Tipo (máx 2)</h2>
                <div class="filter-buttons">
                    @for(type of allTypes; track type.name) {
                        <button 
                            (click)="toggleTypeFilter(type.name)" 
                            [class.active]="isTypeSelected(type.name)"
                            [style.background-color]="typeColors[type.name]">
                            {{ type.name }}
                        </button>
                    }
                </div>
                <div class="filter-actions">
                    <button class="action-button clear" (click)="clearFilters()">Limpar</button>
                    <button class="action-button apply" (click)="applyFilters()">Aplicar</button>
                </div>
            </div>
        </div>
    }

    @if (isLoading) {
      <div class="loading-spinner"></div>
    }

    <div class="pokemon-grid">
        @for(pokemon of pokemonList; track pokemon.id){
            <app-card
                class="cardContainer" 
                [name]="pokemon.name"
                [sprite]="pokemon.sprites.front_default"
                [animatedSprite]="pokemon.animatedSprite" 
                [id]="pokemon.id"
                [ptypes]="pokemon.types">  
            </app-card> 
        } @empty {
            @if(!isLoading) {
                <p>Nenhum Pokémon encontrado.</p>
            }
        }
    </div>

    <div class="load-more-container">
      @if (!isLoading && pokemonList.length > 0 && selectedTypes.length === 0) {
      <app-pagination
        [currentPage]="currentPage"
        [totalItems]="totalPokemon"
        [itemsPerPage]="limit"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    }
    </div>
